*{
    margin: 0;
    padding: 0;
}

:root{
    --font_padrao: Arial, Helvetica, sans-serif;
}

main{
    /* definindo um tamanho maximo da main */
    max-width: 62.5em;/*1000px*/

    /* centralizando */
    position: relative;
    margin: auto;
}

    /* fazendo os cards se posicionarem um na frente do outro horizontalmente */
.cards_collection{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    
}

/* dependendo do tamanho os cards ficam centralizados, ou ficam alinhados para esquerda */
@media screen and (max-width: 60em) {/*960px*/
    .cards_collection{
        justify-content: center;
    }
  }
@media screen and (min-width: 60.0625em) {/*961px*/
    .texto {
        justify-content: flex-start;
    }
  }
  
.cards{
    /* formatando card */
    margin: 5em 1.25em 0 1.25em;
    height: 28em; /* 448px*/
    width: 17.5em; /* 280px */
    background-image: url(imagens/background_card_280.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0.0625em 0.0625em 0.3125em black;/*1px 1px 5px*/
    color: white;
    text-align: left;
}

    /* configurando o simbolo que fica no meio do card */
.cards img{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8em; /* 128px */
    width: 8em; /* 128px */
}

    /* div responsavel por posicionar o texto dentro do card */
.text_insideCards{
    position: relative;
    top: 43%; 
    margin: 0 0 0 1.25em; /* 20px*/
}

    /* formatando h1 dentro do card*/
.cards .text_insideCards h1{
    font-family: var(--font_padrao);
    font-weight: 100;
    padding: 0 0 0.625em 0; /* 10px*/
    font-size: 1.5em; /* 24px*/
}

    /* formatando h2 dentro do card */
.cards .text_insideCards h2{
    font-family: var(--font_padrao);
    font-weight: 100;
    font-size: 1em; /* 16px*/
}

    /*adicionando calendario antes dos cards*/
.cards .text_insideCards h2::before{
    content: url(imagens/calendar.png);
    padding-right: 0.8em;
}

    /*essa parte é responsavel pela data dentro do card*/
.cards .text_insideCards h3{
    font-family: var(--font_padrao);
    font-weight: 100;
    font-size: 1em;
    text-indent: 2em;
}

    /*paragrafo do card*/
.cards p{
    padding: 1.25em 1.25em 0.625em 0; 
    font-family: var(--font_padrao);
    font-weight: 100;
    text-align: justify;
}

    /*botao do card*/
.card_button{
    background-color: #dcf3f9;
    margin: 2.1875em 0 0 0; /*35px*/
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -0.625em; /* -10px */
    height: 1.875em; /* 30px*/
    width: 9.375em; /* 150px*/
    border-radius: 0.3125em; /* 5px */
    border: none;
    color: #204963;
    font-size: 1.2em; /* 19.2px*/
    font-weight: bold;
}